body {
    background-image: url(mikkel-bech-yjAFnkLtKY0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

html {
    height: 100%;
}

#mainNavbar .navbar-nav .nav-link:hover {
    color: green;
    cursor: pointer;
}

#mainNavbar .active {
    color: green;
}

#mainNavbar .btn {
    background-color: green;
    outline: none;
    color: white;
}

#first-section {
    margin-bottom: 245px;
}

h1:first-of-type {
    color: white;
    margin-top: 180px;
}

.child-span {
    color: green;
}

p {
    color: #a5a5a5;
    font-size: small;
}

.btn {
    font-weight: bold;
}


#about {
border-radius:  25px;
}

#about-us {
    box-sizing: border-box;
    width: 100%;
}

#second-section {
    background-color: white;
}

/* .navbar-nav a:visited {
cursor: none;
} */