body {
    background-image: url(mikkel-bech-yjAFnkLtKY0-unsplash.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

html {
    height: 100%;
}
h1 {
    color: white;
    margin-top: 125px;
}

.child-span {
    color: green;
}


p {
    color: #a5a5a5;
    font-size: small;
}

.btn {
    font-weight: bold;
}
#mainNavbar .nav-item:hover {
    color: green;
}

#mainNavbar .active {
    color: green;
}

#mainNavbar .btn {
    background-color: green;
    outline: none;
    color: white;
}
