body {
    background-image: url(mikkel-bech-yjAFnkLtKY0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

html {
    height: 100%;
}

#mainNavbar .navbar-nav .nav-link:hover {
    color: green;
    cursor: pointer;
}
#mainNavbar .navbar-nav .nav-link {
    color: whitesmoke;
    cursor: pointer;
}

#mainNavbar .active {
    color: green;
}

#mainNavbar .btn {
    background-color: green;
    outline: none;
    color: white;
}

#first-section {
    margin-bottom: 245px;
}

h1:first-of-type {
    color: white;
    margin-top: 180px;
}

.child-span {
    color: green;
}

#content p {
    color: #a5a5a5;
    font-size: small;
}

.btn {
    font-weight: bold;
}


#about {
border-radius:  25px;
}

/* #about-us {
    box-sizing: border-box;
    width: 100%;
} */

#second-section {
    background-color: white;
}

p {
font-size: 1rem;
}

.blockquote-footer {
    color: black;
    font-size: 1rem; 
}

#bicycle-passion {
    color: black;
    font-weight: bold;
}

#passion {
    color: green;
}

.num {
    font-size: 8rem;
}

.special {
    color: green;
    /* text-align: left; */
}
div.item-image1 {
    margin: 100px;
}

div.item-image1 * {
    box-sizing: border-box;
    width: 100%;
    margin-left: none;
}

#par-image1 {
    margin-top: 52px;
    margin-left: 70px;
    width: 400px;
}

.navbar.scrolled {
    background: rgba(2,2,2,.9);
    transition: background 500ms;
}
/* .navbar-nav a:visited {
cursor: none;
} */